# Android Studio 관련 파일
*.iml
.idea/
.DS_Store

# 빌드 및 캐시 파일
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# 로컬 환경 설정 파일
local.properties
/local.properties

# 기타
*.log
*.keystore
*.class
*.swp